---
# -----------------------------------------------------------------------------------------------------------
# Sim settings
# -----------------------------------------------------------------------------------------------------------
MAX_TIME: 30000 # 96000 # [s]
dt: 0.1 # 0.1         # [s]
earliest_sim_start_time_UTC: 2024-10-01 12:00:00
latest_sim_start_time_UTC: 2024-10-28 23:59:59
useDrag : False
useSRP : False
useSun : False
useMoon : False
useDragTorque : False
useGravityGradient : False
useLUTs : False

# -----------------------------------------------------------------------------------------------------------
# physical properties
# -----------------------------------------------------------------------------------------------------------
mass : 
     nominal_mass : 1.0 # kg
     mass_dev : 50 # Stddev from nominal mass as a % of nominal mass [%]
     min_mass : 0.5 # Min allowable mass [kg]
     max_mass : 2.0 # Max allowable mass [kg]

area : 
     nominal_area : 0.01 # face area m^2
     area_dev : 20 # stddev from nominal area as a % of nominal area [%]
     min_area : 0.01 # Min area [m^2]

inertia :
     nominal_inertia : [ 2.29087756e-03, -1.87290000e-05, -5.24670000e-06,
                         -1.87290000e-05,  2.33687756e-03,  1.91340000e-05,
                         -5.24670000e-06,  1.91340000e-05,  2.37975511e-03]
     # nominal_inertia_no_deployables : [3.544e-03, -1.8729e-05, -5.2467e-06, # full inertia with deployed panels
     #                                    -1.8729e-05, 3.590e-03, 1.9134e-05,
     #                                    -5.2467e-06, 1.9134e-05, 4.120e-03]
     principal_axis_dev : [0.4,0.4,0.4] # stddev of principal axis inertias about nominal as a % of nominal [%]

deployables :
     N_deployables : 4
     deployable_mass : [0.0383, 0.0383, 0.0383, 0.0383] # kg
     deployable_inertia : [5.2061e-05,       0.0,        0.0, # deploy xp inertia
                                  0.0, 3.065e-05,        0.0,
                                  0.0,       0.0, 2.1408e-05,
                           5.2061e-05,       0.0,        0.0, # deploy xm inertia
                                  0.0, 3.065e-05,        0.0,
                                  0.0,       0.0, 2.1408e-05,
                            3.065e-05,       0.0,        0.0, # deploy yp inertia
                                  0.0, 5.206e-05,        0.0,
                                  0.0,       0.0, 2.1408e-05,
                            3.065e-05,       0.0,        0.0, # deploy ym inertia
                                  0.0, 5.206e-05,        0.0,
                                  0.0,       0.0, 2.1408e-05] # kg.m^2    
     # deployable position when undeployed
     deployable_stowed_pos : [  0.05,  0.0, 0.0,
                               -0.05,  0.0, 0.0,
                                 0.0, 0.05, 0.0,
                                 0.0,-0.05, 0.0] # m
     # deployable orientation when undeployed
     deployable_stowed_orient : [0.0,0.0,0.0,
                                 0.0,0.0,0.0,
                                 0.0,0.0,0.0,
                                 0.0,0.0,0.0] # deg
     # deployable position when deployed
     deployable_deployed_pos : [ 0.1, 0.0, 0.05,
                                -0.1, 0.0, 0.05,
                                 0.0, 0.1, 0.05,
                                 0.0,-0.1, 0.05] # m
     # deployable orientation when deployed
     deployable_deployed_orient : [  0.0,  90.0,0.0,  
                                     0.0, -90.0,0.0,
                                    90.0,   0.0,0.0,
                                   -90.0,   0.0,0.0] # deg
     # deployable has a deployment sensor: True, no sensor: False
     deployable_sensor_flag : [True, False, False, True] # flags for deployable position sensors
     # failures
     random_deploy_fail: False
     N_rand_deploy_fail: 0  # number of random magnetorquer failures
     deploy_status: [True,True,True,True] # True = deployed, False = undeployed

# Spacecraft body frame origin is the center of mass. 
# These are all positioned relative to the geometric center of the CubeSat at the center of the cube.
# CoPM : [0.005,-0.005,-0.005] # center of pressure with respect to center of mass of CubeSat
# CoPM_dev : 0.001 # stddev from nominal of CoPM [m]
CoM : [0.0,0.0,-0.005] # center of pressure with respect to center of mass of CubeSat
CoM_dev : 0.001 # stddev from nominal of CoPM [m]
# In practice, CoP will be very dependent on the attitude of the spacecraft. For simplicity, we assume a fixed CoP here.
CoP : [0.0,0.0,0.0] # center of pressure with respect to center of mass of CubeSat
CoP_dev : 0.001 # stddev from nominal of CoPM [m]
Cd : 2.2 # Drag coefficient
CR : 1.8 # Reflectivity coefficient

# -----------------------------------------------------------------------------------------------------------
# Reaction Wheels
# -----------------------------------------------------------------------------------------------------------
reaction_wheels:
     N_rw : 0                   # number of reaction wheels
     m_rw: 0.002                # kg mass of each reaction wheel
     max_torque : 0.001         # N.m maximum torque that can be applied by each reaction wheel
     max_speed : 600            # rad/s maximum speed that can be achieved by each reaction wheel
     nom_rw_ang_vel: 0        # rad/s nominal angular velocity of the reaction wheels

     rw_orientation : [0,0,1] # spin axis of each reaction wheel in the body frame
     rw_orientation_dev : 0.001 # stddev of angular mounting error about nominal normal vector [rad]

     I_rw : 3.3878e-06 # 6.5e-7   # kg.m^2 inertia of each reaction wheel
     I_rw_dev : 5 # stddev from nominal I_rw as a % of nominal I_rw [%]

# -----------------------------------------------------------------------------------------------------------
# Magnetorquers
# -----------------------------------------------------------------------------------------------------------
magnetorquers:
     N_mtb : 6  # number of magnetorquers
     A_cross : 5.4326e-3 # [UNITS : m^2]
     N_turns : 64
     max_voltage : 5  # V maximum voltage that can be applied by each magnetorquer
     max_current_rating : 1.0  # A
     max_power : 1  # W
     inductance : 1.0 # [UNITS: H] # nominal inductance of each magnetorquer
     inductance_dev : 5 # stddev from nominal [%]
     inductance_lub : 10 # max allowed deviation from nominal  [%]
     
     mtb_orientation : [1,0,0,
                        -1,0,0, 
                        0,1,0,
                        0,-1,0, 
                        0,0,1,
                        0,0,-1] # alignment axis of each magnetorquer in the body frame
     mtb_orientation_dev : 0.001 # stddev of angular mounting error about nominal normal vector for each MTB [rad]

     mtb_resistance : 25 # [UNITS: Î©]
     mtb_resistance_dev : 5 # stddev from nominal resistance as a % of nominal resistance [%]
     mtb_resistance_lub : 10 # max allowed deviation from nominal resistance as a % of the nominal resistance [%]
     
     mag_mtb_sens: [0.005, 0.0, 0.0,
                    0.0, 0.005, 0.0,
                    0.0, 0.0, 0.005] # [UNITS: T/(Am2)] # sensitivity of the magnetorquers to the magnetic field in the body frame

     random_failures: False
     N_rand_failures: 0  # number of random magnetorquer failures
     working_status: [True,True,True,True,True,True] # True = working, False = failed

# -----------------------------------------------------------------------------------------------------------
# Payload
# -----------------------------------------------------------------------------------------------------------
nadir_cam_dir: [-1,0, 0] # direction of payload camera(s) in the body frame

# -----------------------------------------------------------------------------------------------------------
# Sensors
# -----------------------------------------------------------------------------------------------------------
gps:
     gps_dt : 1.0 # [UNITS: s] # assuming a GPS measurement every second is very optimistic, should be around every 30 minutes
     gps_pos_std : 5 # [UNITS: m]
     gps_pos_std_dev : 0 # stddev of uncertainity in GPS position error estimation as a % of nominal error stddev [%] - Is an error of an error

     gps_vel_std : 0.03 # [UNITS: m/s]
     gps_vel_std_dev : 0 # stddev of uncertainity in GPS position error estimation as a % of nominal error stddev [%]

photodiodes:
     num_photodiodes : 9
     photodiode_normals : [1,0,0,
                           -1,0,0, 
                           0,1,0,
                           0,-1,0,
                           0.7071,0,0.7071, 
                           0,0.7071,0.7071,
                           -0.7071,0,0.7071,
                           0,-0.7071,0.7071, 
                           0,0,-1] # Light diode normals in body frame
     photodiode_orientation_dev : 0.001 # stddev of angular mounting error about nominal normal vector for each photodiode [rad]
     photodiodes_dt : 1.0 # [UNITS: s]
     photodiode_std : 500 # [UNITS: lux]
     photodiode_std_dev : 30 # stddev of uncertainity in photodiode lux error estimation as a % of nominal error stddev [%]

# IMU: BMX160
# datasheet available at https://www.mouser.com/pdfdocs/BST-BMX160-DS000-11.pdf?srsltid=AfmBOorTgWdtOic1ucbtO3aiVbBWY2ZANbA-VqI-fsoNfpYn_k_XHI-1
# with values for the magnetometer, gyroscope, and (unused) accelerometer
magnetometer:
     # Output is in microtesla (uT)
     magnetometer_dt : 0.2 # [UNITS: s]
     # [TODO:] check if this makes sense
     magnetometer_noise_std : 1.4 # [UNITS: uT]
     magnetometer_std_dev : 0 # stddev of uncertainity in magnetometer error estimation as a % of nominal error stddev [%]
     # min_sigma_magnetometer: 0.0523 # [rad] [Angular error in Bfield direction]
     # max_sigma_magnetometer: 0.1745 # [rad] [Angular error in Bfield direction]
     range_z: 2500  # [UNITS: uT]
     range_xy: 1300 # [UNITS: uT]
     resolution : 0.3 # [UNITS: uT] 

gyroscope: 
     # Output is in degrees per second (deg/s)
     gyro_correlation_time : 5000.0 # [UNITS: s]
     gyro_scale_factor_err : 1.0e-5

     gyro_sigma_w : 1e-08 # Bias dynamics [UNITS: deg/sqrt(Hz)]
     gyro_sigma_w_dev : 3 # stddev of uncertainity in bias dynamics estimation as a % of nominal error stddev [%]

     # 0.007 [deg/s/sqrt(Hz)] = 1.2217e-4 [rad/s/sqrt(Hz)]
     gyro_sigma_v : 0.007 # Additive white noise [UNITS: deg/s/sqrt(Hz)]
     gyro_sigma_v_dev : 3 # stddev of uncertainity in white noise estimation as a % of nominal error stddev [%]
     gyro_bias_stab: 8.3e-4 # [UNITS: deg/s] # Bias stability [UNITS: deg/s]
     range: 125 # [UNITS: deg/s] # Range of the gyroscope [UNITS: deg/s]
     nbits : 16 # [UNITS: bits] # Number of bits of the gyroscope
     
star_tracker:
     star_tracker_dt : 1.0 # [UNITS: s] [UNUSED]
     star_tracker_std : 0.001 # [UNITS: rad] # stddev of the star tracker measurement noise

solar_panels:
     num_panels : 13
     panel_normals : [1,0,0,  # XP
                      -1,0,0, # XM
                      0,1,0,  # YP
                      0,-1,0, # YM
                      0,0,1,  # ZP
                      0,0,1,  # Deployable 1 ZP
                      0,0,-1, # Deployable 1 ZM
                      0,0,1,  # Deployable 2 ZP
                      0,0,-1, # Deployable 2 ZM
                      0,0,1,  # Deployable 3 ZP
                      0,0,-1, # Deployable 3 ZM
                      0,0,1,  # Deployable 4 ZP
                      0,0,-1]  # Deployable 4 ZM
                    # Solar panel normals in body frame
     panel_orientation_dev : 0.001 # stddev of angular mounting error about nominal normal vector for each solar panel [rad]
     efficiency: 0.15 # [%]
     area: 0.005 # [m^2]

static_power_consumption:
     mainboard: 0.6 # W
     jetson: 7.5 # W


# -----------------------------------------------------------------------------------------------------------
# Initialization
# -----------------------------------------------------------------------------------------------------------
# All orbital elements in this section are expressed as the stddev from nominal parameter value as a % of nominal parameter value
# source for orbit dispersion values: https://storage.googleapis.com/rideshare-static/Cake_Topper_Payload_Users_Guide.pdf
initialization:
     semimajor_axis : 6908000 # [m]
     semimajor_axis_dev : 20000 #  [m]

     # eccentricity : 0.007 
     # eccentricity_dev : 0.0040 # [-] 
     eccentricity : 0.000 # [-]
     eccentricity_min : 0.000 # [-] 
     eccentricity_max : 0.004 # [-] 
     # value needs to be positive

     inclination : 97.5 # 97.75 # [deg]
     inclination_dev : 0.33 # 0.1 # [deg]
     # value is 1/3 of the max allowed dispersion from launch data so 3sigma = max 

     RAAN : 171 # [deg]
     RAAN_dev : 20 # [%]

     disperse_LTDN : False
     LTDN : 10:30:00 # [HH:MM:SS]
     LTDN_min : 10:20:00 # [HH:MM:SS]
     LTDN_max : 10:40:00 # [HH:MM:SS]

     # Spacex doesnt share dispersion of AOP because orbit is near circular so AOP can be whatever
     disperse_AOP : True 
     AOP : 63 # [deg]
     AOP_dev : 20 # [%]

     # If disperse_true_anomaly is True, true anomaly is randomly sampled between 0 and 360
     # If False, the nominal_true_anomaly is chosen across trials
     disperse_true_anomaly : True
     true_anomaly : 0 # [deg] # Only accessed iff disperse_true_anomaly is False

     # If disperse_initial_attitude is True, initial attitude is randomly sampled
     # If False, the nominal_initial_attitude is chosen across trials
     disperse_initial_attitude : True
     initial_attitude : [1,0,0,0] # only accessed iff disperse_initial_attitude is False

     # If disperse_initial_angular_rate is True, initial angular rate is randomly sampled
     # If False, the nominal_initial_angular_rate is chosen across trials
     disperse_initial_angular_rate : True
     initial_angular_rate : [0.05,0.05,0.05] # [rad/s] accessed iff disperse_initial_angular_rate is True
     initial_angular_rate_dev : 0.175 # Max initial angular rate about any axis [rad/s]
     initial_angular_rate_bound : 0.35 # Max initial angular rate norm [rad/s]
     
     start_spin_stabilized: False
     start_ss_pointed: False
     start_ss_pointing: "Sun" # "Nadir" or "Sun"
     tgt_ss_ang_vel: 2.0 # [deg/s]

     # three axis pointing initialization
     start_three_axis: False
     three_axis_target: "Nadir" # "Inertial" or "Nadir"
     disperse_target_attitude : True # if inertial pointing
     target_attitude : [1,0,0,0] # only accessed if disperse_target_attitude is False
     initial_attitude_dev : 0.0 # stddev of initial attitude dispersion about target [deg]

     # Battery Settings (no deviations in battery capacity)
     battery_capacity: 270000 # Joules
     battery_initial_soc: 35 # [%] soc
     battery_internal_resistance: 0.033 # Ohm
     battery_thermal_mass: 276 # J/K 276 g pack and ~1000 J/kgK specific heat
     battery_radiative_loss: 4.2e-10 # W/K^4, 100% emissivity, 0.075m^2 area
     battery_initial_temp: 273.16 # K
     max_pack_voltage : 8.4 # V at 100% SoC
     solar_heat_factor: 0.5 # % of incident solar heat passed to the batteries



# -----------------------------------------------------------------------------------------------------------
# Plotting and Debugging
# -----------------------------------------------------------------------------------------------------------
PlotFlags:
     sensor_measurements: True 
     true_state_plots: True
     pointing_plots: True
     actuator_plots: True
     att_animation : False
     percent_to_log : 0.01 # [0,1] fraction of the data to log for plotting
debugFlags:
     perfect_sensors: False  # Perfect measurements
     include_battery: True # Include battery in simulation
     include_star_tracker: False # Include star tracker in simulation
# [TODO:] flag for orbital perturbations